<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="RRQMCore" version="8.0.0-beta" targetFramework="net461" />
  <package id="RRQMSkin" version="3.6.0" targetFramework="net461" />
  <package id="RRQMSocket" version="8.0.0-beta" targetFramework="net461" />
  <package id="RRQMSocket.FileTransfer" version="8.0.0-beta" targetFramework="net461" />
  <package id="RRQMSocket.Http" version="8.0.0-beta" targetFramework="net461" />
  <package id="RRQMSocket.RPC" version="8.0.0-beta" targetFramework="net461" />
  <package id="RRQMSocket.RPC.JsonRpc" version="8.0.0-beta" targetFramework="net461" />
  <package id="RRQMSocket.RPC.WebApi" version="8.0.0-beta" targetFramework="net461" />
  <package id="RRQMSocket.RPC.XmlRpc" version="8.0.0-beta" targetFramework="net461" />
  <package id="RRQMSocket.WebSocket" version="8.0.0-beta" targetFramework="net461" />
</packages>