<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net45" />
  <package id="RRQMCore" version="6.2.0" targetFramework="net45" />
  <package id="RRQMSocket" version="6.2.0" targetFramework="net45" />
  <package id="RRQMSocket.FileTransfer" version="6.2.0" targetFramework="net45" />
  <package id="RRQMSocket.Http" version="6.2.0" targetFramework="net45" />
  <package id="RRQMSocket.RPC" version="6.2.0" targetFramework="net45" />
  <package id="RRQMSocket.RPC.JsonRpc" version="6.2.0" targetFramework="net45" />
  <package id="RRQMSocket.RPC.WebApi" version="6.2.0" targetFramework="net45" />
  <package id="RRQMSocket.RPC.XmlRpc" version="6.2.0" targetFramework="net45" />
  <package id="RRQMSocket.WebSocket" version="6.2.0" targetFramework="net45" />
</packages>